---
import { Image } from "astro:assets";
import CTAButton from "@/components/cta-button.astro";
import { cn } from "@/utils/cn";

const content = {
  title: "Our best work",
  description:
    "We are a team of creatives who are passionate about music and art. We create beautiful and unique pieces that are sure to impress.",
  cta: {
    text: "Get consulation",
    href: "#",
  },
  portfolio: [
    {
      title: "Acoustic Bliss",
      description:
        "Experience the warmth and intimacy of our acoustic recordings. From soulful ballads to mellow instrumental tracks, our Acoustic Bliss portfolio showcases the clarity and depth that can only be achieved in a top-notch studio setting. Listen to how our space brings out the best in unplugged performances.",
      spotifyLink:
        "https://open.spotify.com/embed/track/3PQIbvXiq2jKvVCz42xD80?utm_source=generator",
    },
    {
      title: "Rock Revolution",
      description:
        "Feel the energy and power of our Rock Revolution portfolio. Whether it's hard-hitting drums, electrifying guitar riffs, or commanding vocals, our studio captures the raw intensity of rock music. Dive into the soundscapes that push the boundaries of rock and roll.",
      spotifyLink:
        "https://open.spotify.com/embed/track/1e8g8Zypak1hTK8l12olYd?utm_source=generator",
    },

    {
      title: "Electronic Vibes",
      description:
        "Experience the vibrancy and energy of our Electronic Vibes portfolio. From pulsating beats to pulsing synths, our Electronic Vibes space captures the essence of electronic music. Listen to how our space brings out the best in dancefloor performances.",
      spotifyLink:
        "https://open.spotify.com/embed/track/0UDhpteL2g3TOBcCaR2owY?utm_source=generator",
    },
  ],
};
---

<section class="container bg-coolGray-50">
  <div class="">
    <div class="mb-4 md:mb-20">
      <h2
        class="font-heading text-6xl xl:text-8xl font-bold tracking-tighter"
        set:html={content.title}
      />
      <!-- <p
        class="text-lg text-muted-foreground w-1/3"
        set:html={content.description}
      /> -->
    </div>

    {
      content.portfolio.map((item, i) => (
        <div class="mb-6 pb-10 pt-20 lg:pt-10 px-10 max-w-xl lg:max-w-none mx-auto bg-white rounded-4xl">
          <div
            class={cn(
              "flex flex-wrap -mx-4 items-center",
              i % 2 && "flex-row-reverse"
            )}
          >
            <div class="w-full lg:w-7/12 px-4 mb-12 lg:mb-0">
              <div class="max-w-sm xl:max-w-lg mx-auto">
                <div>
                  <h3 class="text-5xl xl:text-7xl tracking-tight mb-6">
                    <span>{i + 1}. </span>
                    <span set:html={item.title} />
                  </h3>
                </div>
                <p
                  class="max-w-md text-lg text-coolGray-600 mb-10"
                  set:html={item.description}
                />

                <CTAButton variant="secondary" href="#" />
              </div>
            </div>
            <div class="w-full lg:w-5/12">
              <iframe
                title="shopify player"
                style="border-radius:12px"
                src={item.spotifyLink}
                width="100%"
                height="352"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"
              />
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
